name: Deploy
on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy to AWS
    environment: production
    runs-on: ubuntu-latest
    env:
      NODE_ENV: "production"
      AWS_REGION: ${{ vars.AWS_REGION }}
      SITE_HOSTNAME: ${{ vars.SITE_HOSTNAME }}
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
      NEXT_PUBLIC_ANTHROPIC_USAGE_URL: ${{ vars.NEXT_PUBLIC_ANTHROPIC_USAGE_URL }}
      NEXT_PUBLIC_DEFAULT_TARGET_LANGUAGE: ${{ vars.NEXT_PUBLIC_DEFAULT_TARGET_LANGUAGE }}
      NEXT_PUBLIC_DEFAULT_STORY_LENGTH: ${{ vars.NEXT_PUBLIC_DEFAULT_STORY_LENGTH }}
      NEXT_PUBLIC_DEFAULT_STORY_LENGTH_MIN: ${{ vars.NEXT_PUBLIC_DEFAULT_STORY_LENGTH_MIN }}
      NEXT_PUBLIC_DEFAULT_STORY_LENGTH_MAX: ${{ vars.NEXT_PUBLIC_DEFAULT_STORY_LENGTH_MAX }}
      NEXT_PUBLIC_DEFAULT_DIFFICULTY_LEVEL: ${{ vars.NEXT_PUBLIC_DEFAULT_DIFFICULTY_LEVEL }}
      NEXT_PUBLIC_DEFAULT_INCLUDE_VOCABULARY: ${{ vars.NEXT_PUBLIC_DEFAULT_INCLUDE_VOCABULARY }}
      NEXT_PUBLIC_DEFAULT_INCLUDE_GRAMMAR: ${{ vars.NEXT_PUBLIC_DEFAULT_INCLUDE_GRAMMAR }}
      NEXT_PUBLIC_DISABLE_VOCABULARY_CHECKBOX: ${{ vars.NEXT_PUBLIC_DISABLE_VOCABULARY_CHECKBOX }}
      NEXT_PUBLIC_DISABLE_GRAMMAR_CHECKBOX: ${{ vars.NEXT_PUBLIC_DISABLE_GRAMMAR_CHECKBOX }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"
          cache-dependency-path: "./pnpm-lock.yaml"

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy to AWS
        run: pnpm sst deploy --stage production
